.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #343434;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #4d4d4d;
}

.App-content {
  background-color: #343434;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  font-size: large;
  color: white;
}

.App-footer {
  background-color: #343434;
  min-height: 10vh;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: 1px solid #4d4d4d;
}

.label-status-passed {
  background: #97cc64;
}

.label-status-failed {
  background: #fd5a3e;
}

.label-status-broken {
  background: #ffd050;
}

.label-status-skipped {
  background: #aaa;
}

.label-status-unknown {
  background: #d35ebe;
}

.label-status-total {
  background: #007bff;
}

.label {
  vertical-align: baseline;
  letter-spacing: 1px;
  color: #fff;
  padding: 2px 4px 2px 5px;
  font-size: 80%;
  border-radius: 3px;
  float: left;
  width: 40px;
}

.App-link {
  color: #61dafb;
}

#reportsTable {
  width: 60%;
  background-color: #343434;
}

#reportsTable th:hover {
  background-color: #2e2e2e;
  cursor: pointer;
}

#reportsTable th {
  min-width: 30vh;
}

.sort-by-asc {
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  margin: 6px 6px 1px 5px;
  background: transparent;
  border-bottom: solid 10px #ffffff;
  border-top-width: 0;
}

.sort-by-desc {
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  margin: 6px 6px 1px 5px;
  background: transparent;
  border-top: solid 10px #ffffff;
  border-bottom-width: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
