:root {
  --default-background: #343a40;
}

.App {
  background-color: var(--default-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /*border-bottom: 1px solid #4d4d4d;*/
  /*margin-bottom: 20px;*/
}

.App-nav {
  font-size: x-large;
  padding-bottom: 40px;
}

.App-nav .navbar-brand {
  font-size: xx-large;
}

.App-content {
  min-height: 90vh;
  color: white;
  padding: 5px 5px 5px 5px;
  font-size: large;
  padding: 5px;
  justify-content: space-between;
}

.App-footer {
  min-height: 10vh;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-top: 1px solid #4d4d4d;
}

.App-header h1 {
  background-color: yellow;
}

.label-status-passed {
  background: #73974b;
}

.label-status-failed {
  background: #fd5a3e;
}

.label-status-broken {
  background: #ffd050;
}

.label-status-skipped {
  background: #aaa;
}

.label-status-unknown {
  background: #d35ebe;
}

.label-status-total {
  background: #007bff;
}

.label {
  letter-spacing: 1px;
  color: #f5f5f5;
  padding: 7px 7px 7px 7px;
  border-radius: 3px;
  margin: 3px;
}

.App-link {
  color: #61dafb;
}

.report-link {
  color: #f5f5f5;
  font-weight: bold;
}

.report-link:hover {
  color: #539bf5;
  text-decoration: none;
}

#reportsTable td {
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
}

#reportsTable th {
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  border: 0;
}

svg.passed {
  color: #73974b;
}

svg.failed {
  color: #fd5a3e;
}

svg.warning {
  color: #ea9c06;
}

.sort-by-asc {
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  margin: 6px 6px 1px 5px;
  background: transparent;
  border-bottom: solid 10px #ffffff;
  border-top-width: 0;
}

.sort-by-desc {
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 6px transparent;
  margin: 6px 6px 1px 5px;
  background: transparent;
  border-top: solid 10px #ffffff;
  border-bottom-width: 0;
}

#sortButtons {
  text-align: right;
}

#sortButtons button {
  margin-left: 15px;
}
