name: Cleanup

on:
  schedule:
    - cron: '0 4,16 * * *' # run every day at 4 and 16 server time (UTC)

  workflow_dispatch:

jobs:
  report:
    name: "Clean up old results"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Clean up
        env:
          DAYS: 45
        run: ./bin/cleanup.sh

      - name: Push changes
        env:
          MESSAGE: "Cleanup"
        run: ./bin/push-changes.sh
