name: Cleanup

on:
  schedule:
    - cron: '0 4,16 * * *' # run every day at 4 and 16 server time (UTC)

  workflow_dispatch:

jobs:
  report:
    name: "Clean up old results"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Check aws-cli
        env:
          DESTINATION_PATH: ../
        run: |
          aws --version
          aws s3 ls

      - name: Clean up
        env:
          DAYS: 30
        run: ./bin/cleanup.sh

      - name: Push changes
        env:
          MESSAGE: "Cleanup"
        run: ./bin/push-changes.sh
